server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/product
    username: root
    password: numpy@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2KB
